<% layout('./layout/boilerplate') %>
    <form action="/campgrounds" method="POST">
        <label for="title">Title of Camp:</label>
        <input type="text" id="title" name="campground[title]">
        <br>
        <label for="location">Location of the Camp:</label>
        <input type="text" id="location" name="campground[location]">
        <br>
        <button type="submit">Submit</button>
    </form>
